build/
sdkconfig
sdkconfig.old
sdkconfig.ci

.vscode/
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/c_cpp_properties.json
!.vscode/settings.json

.settings/
.cproject
.project

__pycache__/
*.pyc
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/

.DS_Store
Thumbs.db
*.swp
*.tmp
Distributor/.clang-format
Distributor/.clangd
Distributor/CMakeLists.txt
Distributor/LICENSE
Distributor/main/Kconfig.projbuild
